<div class="container text-center">
  <h1>Create New Post</h1>
</div>

<div class="container">
  <form class="form-floating">
    
    <input
      type="text"
      class="form-control"
      id="post-title"
      placeholder="ex. The link between music and code"
    />
    <label>Title</label>
    <input
      type="text"
      class="form-control"
      id="post-subtitle"
      placeholder="She knows the answer"
    />
    <label>Sub-Title</label>

    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Write post here"
        id="post-content"
        style="height: 100px"
      ></textarea>
      <label>Post</label>
    </div>

    <button id="post-submit" type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>