img {
  max-width: 600px;
  border: solid black 2px;
}

.author {
  font-style: italic;
}

textarea {
  text-indent: 0%;
}
/* Make the content of each blogpost truncated to just a few words, followed by and ellipsis */
.short-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
